* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.container {
  font-size: 16px;
  display: block;
  margin: auto; }

.intro {
  display: block;
  margin: auto;
  max-width: 650px; }

.title {
  text-align: center;
  display: block;
  margin: auto auto 2rem;
  padding-top: 3em;
  font-size: 4rem; }

h2 {
  font-weight: normal; }

select {
  margin: auto;
  display: block;
  width: 250px;
  font-size: 1rem;
  cursor: pointer; }

.select-role,
.select-game,
.ready-to-play,
.selected-person {
  margin: 2rem auto;
  display: block;
  width: 280px;
  font-size: 1rem;
  text-align: center; }

.selected-person {
  width: 300px; }
  .selected-person img {
    width: 100%; }

button {
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #eaeaea;
  margin: auto 1rem;
  padding: 0.5rem 1rem; }
  button:hover {
    cursor: pointer;
    background-color: #eaeaea; }
  button.selected {
    background-color: #eaeaea; }

.board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.person-container {
  margin: 1rem;
  width: 250px;
  cursor: pointer;
  position: relative; }
  .person-container span {
    display: block;
    text-align: center; }
  .person-container.nope {
    opacity: 0.5; }
    .person-container.nope:before, .person-container.nope:after {
      position: absolute;
      content: '';
      background: red;
      display: block;
      width: 100%;
      height: 30px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
    .person-container.nope:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }

.title {
  text-align: center;
  display: block;
  margin: auto auto 2rem;
  padding-top: 3em;
  font-size: 4rem; }

